
<section>
  <div class="header_title">
    <div class="row justify-content-start">
      <div class="col-sm-6">
        <h1 class="text-center my-2">
          Give the care
          <br />
          your family deserves.
        </h1>
        <br />
        <h4 class="text-center text-light secure">
          Secure your future with EasyClaim
        </h4>
        <div class="mx-5">
          <button class="btn--text" (click)="onScrollTo(target)">
            Learn more &DownArrow;
          </button>
        </div>
      </div>
      <div class="col-sm-6">
        <img
          src="../../assets/img/care.svg"
          class="header_img my-4"
          alt="svg image"
        />
      </div>
    </div>
  </div>
 
  <div class="wave"></div>
</section>

<div class="container">
  <div class="Info" #target>
    <h2 class="text-center">Why Choose us?</h2>
  </div>
  <hr />
</div>
<div class="container">
  <div class="row justify-content-start">
    <div class="col-sm-7">
      <h2>Get your claims easily..</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis lorem
        vel erat fermentum lobortis vel ac nibh. Suspendisse potenti. Mauris sed
        posuere eros. Maecenas fringilla justo quis dui condimentum, nec semper
        lectus bibendum. Vestibulum tempus augue non lacus molestie porttitor.
      </p>
    </div>
    <div class="col-sm-5 my-2">
      <img src="../../assets/img/track.svg" alt="image" class="track_img" />
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-start">
    <div class="col-sm-5 ">
      <img src="../../assets/img/covid-19.svg" alt="image" class="covid-img" />
    </div>
    <div class="col-sm-7">
      <h2>Policy Subscription available for covid-19</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis lorem
        vel erat fermentum lobortis vel ac nibh. Suspendisse potenti. Mauris sed
        posuere eros. Maecenas fringilla justo quis dui condimentum, nec semper
        lectus bibendum. Vestibulum tempus augue non lacus molestie porttitor.
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-start">
    <div class="col-sm-7">
      <h2>Good Hospital Network</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis lorem
        vel erat fermentum lobortis vel ac nibh. Suspendisse potenti. Mauris sed
        posuere eros. Maecenas fringilla justo quis dui condimentum, nec semper
        lectus bibendum. Vestibulum tempus augue non lacus molestie porttitor.
      </p>
    </div>
    <div class="col-sm-5 my-2">
      <img src="../../assets/img/hospital.svg" alt="image" class="track_img" />
    </div>
  </div>
</div>



<footer class="footer">
  
  <div class=" justify-content-start">
    <div class="col-sm-4">
      <h2 class="Contact us"></h2>
    </div>
  </div>
  <!-- <div class="logo">
    <a routerLink="/home"
      ><img
        src="../../assets/img/aurora-dao.svg"
        class="brand-logo"
        alt="brand logo"
    /></a>
  </div> -->
  <p class="footer__copyright text-light">&copy;All rights reserved by POD 2.</p>
</footer>
